parameters:
	ignoreErrors:
		-
			rawMessage: 'Method StellarWP\Uplink\Components\Controller::classes() has parameter $classes with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Uplink/Components/Controller.php

		-
			rawMessage: 'Parameter #1 $callback of function array_map expects (callable(mixed): mixed)|null, ''sanitize_html_class'' given.'
			identifier: argument.type
			count: 1
			path: src/Uplink/Components/Controller.php

		-
			rawMessage: 'Method StellarWP\Uplink\Notice\Notice::toArray() should return array{type: string, message: string, dismissible: bool, alt: bool, large: bool} but returns array<mixed>.'
			identifier: return.type
			count: 1
			path: src/Uplink/Notice/Notice.php

		-
			rawMessage: 'Offset ''alt'' might not exist on array{type?: string, message?: string, dismissible: bool, alt?: bool, large?: bool}.'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Uplink/Notice/Notice_Controller.php

		-
			rawMessage: 'Offset ''dismissible'' might not exist on array{type?: string, message?: string, dismissible?: bool, alt?: bool, large?: bool}.'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Uplink/Notice/Notice_Controller.php

		-
			rawMessage: 'Offset ''large'' might not exist on array{type?: string, message?: string, dismissible: bool, alt: bool, large?: bool}.'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Uplink/Notice/Notice_Controller.php

		-
			rawMessage: 'Offset ''message'' might not exist on array{type?: string, message?: string, dismissible: bool, alt: bool, large: bool}.'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Uplink/Notice/Notice_Controller.php

		-
			rawMessage: 'Offset ''type'' might not exist on array{type?: string, message?: string, dismissible?: bool, alt?: bool, large?: bool}.'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Uplink/Notice/Notice_Controller.php

		-
			rawMessage: '@@param string $domain does not accept actual type of parameter: mixed.'
			identifier: parameter.phpDocType
			count: 1
			path: src/Uplink/Site/Data.php

		-
			rawMessage: '@@param string $version does not accept actual type of parameter: mixed.'
			identifier: parameter.phpDocType
			count: 1
			path: src/Uplink/Site/Data.php

		-
			rawMessage: '@@param string $wp_version does not accept actual type of parameter: mixed.'
			identifier: parameter.phpDocType
			count: 1
			path: src/Uplink/Site/Data.php

		-
			rawMessage: Cannot access property $blogs on mixed.
			identifier: property.nonObject
			count: 1
			path: src/Uplink/Site/Data.php

		-
			rawMessage: Cannot access property $posts on mixed.
			identifier: property.nonObject
			count: 1
			path: src/Uplink/Site/Data.php

		-
			rawMessage: 'Cannot call method db_version() on mixed.'
			identifier: method.nonObject
			count: 1
			path: src/Uplink/Site/Data.php

		-
			rawMessage: 'Cannot call method get_var() on mixed.'
			identifier: method.nonObject
			count: 2
			path: src/Uplink/Site/Data.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 2
			path: src/Uplink/Site/Data.php

		-
			rawMessage: 'Method StellarWP\Uplink\Site\Data::get_site_domain() should return string but returns mixed.'
			identifier: return.type
			count: 1
			path: src/Uplink/Site/Data.php

		-
			rawMessage: 'Part $wpdb->blogs (mixed) of encapsed string cannot be cast to string.'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Uplink/Site/Data.php

		-
			rawMessage: 'Part $wpdb->posts (mixed) of encapsed string cannot be cast to string.'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Uplink/Site/Data.php

		-
			rawMessage: 'Parameter #3 $context of function sanitize_title_with_dashes expects ''display''|''save'', string given.'
			identifier: argument.type
			count: 1
			path: src/Uplink/Utils/Sanitize.php

		-
			rawMessage: 'Parameter #1 $value of function trailingslashit expects string, string|false given.'
			identifier: argument.type
			count: 1
			path: src/Uplink/View/WordPress_View.php

		-
			rawMessage: 'Parameter #2 $allowed_html of function wp_kses expects array<array>|string, array<string, mixed> given.'
			identifier: argument.type
			count: 1
			path: src/views/admin/notice.php
